.youtube {
  margin: 0 auto;
  max-width: 800px;
}

.youtube .youtube-embed-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

.youtube .youtube-embed-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.youtube.youtube-empty {
  padding: 2rem;
  text-align: center;
  color: var(--text-color, #333);
  background-color: var(--background-color, #f5f5f5);
}

.youtube.youtube-empty p {
  margin: 0;
}
